.subscribe {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://images.pexels.com/photos/3915915/pexels-photo-3915915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  height: 110vh;
  object-fit: cover;
  z-index: 20;
  position: relative;
  .subscribe-cont {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subscribe-title {
      width: 576px;
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        /* or 40px */

        text-align: center;
        letter-spacing: 0.01em;

        color: #ffffff;
      }
    }
    .subscribe-text {
      width: 447px;
      margin: 60px 0;
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.02em;

        color: #ffffff;
      }
    }
    form {
      display: flex;
      align-items: center;
      input {
        width: 600px;
        height: 60px;
        border: 0;
        outline: 0;
        padding: 0 20px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.02em;
        background: #ffffff;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 30px;

        color: rgba(23, 23, 23, 0.7);
      }
      button {
        margin-left: 30px;
        width: 201px;
        height: 60px;
        background: #da0037;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        cursor: pointer;
        border: 0;
        outline: 0;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  input {
    width: 500px !important;
  }
}

@media screen and (max-width: 799px) {
  input {
    width: 400px !important;
  }
}

@media screen and (max-width: 665px) {
  .subscribe-text {
    margin: 40px 0 !important;
  }
  .subscribe-title {
    width: 536px !important;
    h1 {
      font-size: 35px !important  ;
    }
  }
  button {
    margin-top: 20px;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .subscribe-title {
    width: 426px !important;
    h1 {
      font-size: 30px !important;
    }
  }
  .subscribe-text {
    margin: 20px 0 !important;
    width: 407px !important;

    p {
      font-size: 13px !important;
    }
  }
}

@media screen and (max-width: 482px) {
  .subscribe-title {
    width: 200px !important;
  }
  input {
    width: 300px !important;
    height: 46px !important;
    font-size: 15px !important;
  }
  button {
    width: 160px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .subscribe-title {
    width: 406px !important;
    h1 {
      font-size: 25px !important;
    }
  }
  .subscribe-text {
    margin: 30px 0 !important;
    width: 407px !important;

    p {
      font-size: 13px !important;
    }
  }
}

@media screen and (max-width: 412px) {
  .subscribe-title {
    width: 370px !important;
    h1 {
      font-size: 25px !important;
    }
  }
  .subscribe-text {
    margin: 30px 0 !important;
    width: 350px !important;

    p {
      font-size: 13px !important;
    }
  }
}

@media screen and (max-width: 373px) {
  .subscribe-title {
    width: 320px !important;
    h1 {
      font-size: 22px !important;
    }
  }
  .subscribe-text {
    margin: 30px 0 !important;
    width: 320px !important;

    p {
      font-size: 13px !important;
    }
  }
}
