.featured {
  width: 100%;
  position: relative;
  background: #2e2e2e;
  height: 338px;
  overflow-x: hidden;
  overflow: hidden;
  z-index: 0;
  .red-ball1 {
    position: absolute;
    width: 331px;
    height: 331px;
    left: -194px;
    top: -198px;
    border-radius: 50%;
    background: #da0037;
    z-index: 1;
  }

  .red-ball2 {
    position: absolute;
    width: 331px;
    height: 331px !important;
    right: -15%;
    top: 54%;
    border-radius: 50%;
    background: #da0037;
    z-index: 1;
  }
  .featured-cont {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center !important;
    .featured-left {
      width: 177px;
      height: 177px;
      margin-bottom: 5px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
      }
    }
    .featured-right {
      margin: 0 45px;
      .featured-title {
        h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 100%;
          /* identical to box height, or 36px */
          letter-spacing: 0.01em;
          color: #ffffff;
        }
      }
      .featured-text {
        width: 448px;
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.02em;

          color: #ffffff;
        }
      }
    }
  }
}

@media screen and(max-width:904px) {
  .red-ball1 {
    width: 311px !important;
    height: 311px !important;
  }
  .red-ball2 {
    width: 260px !important;
    height: 260px !important;
  }
}

@media screen and(max-width:828px) {
  .red-ball1 {
    display: none !important;
  }
  .red-ball2 {
    display: none !important;
  }
}

@media screen and(max-width:734px) {
  .featured-cont {
    flex-direction: column !important;
  }
  .featured-left {
    width: 137px !important ;
    height: 137px !important;
  }
  .featured-title {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}

@media screen and (max-width: 466px) {
  .featured {
    height: 438px !important;
  }
  .featured-title {
    margin: 25px 0;
  }
  .featured-text {
    width: 430px !important;
    padding: 0 15px !important;
  }
}

@media screen and (max-width: 373px) {
  .featured {
    height: 438px !important;
  }
  .featured-title {
    margin: 25px 0;
  }
  .featured-text {
    width: 400px !important;
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 361px) {
  .featured {
    height: 438px !important;
  }
  .featured-title {
    margin: 25px 0;
  }
  .featured-text {
    width: 400px !important;
    padding: 0 25px !important;
  }
}

@media screen and (max-width: 442px) {
  .featured-cont {
    padding: 20px 0 !important;
  }
  .featured-text {
    width: 410px !important;
    padding: 0 10px;
  }
}

@media screen and (max-width: 406px) {
  .featured-text {
    width: 390px !important;
    padding: 0 10px;
  }
}
