.home {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 20;
  position: relative;
}

.home-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  padding-top: 60px !important;
  z-index: 3000;
}

.home-cont .home-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 600px;
}

.home-cont .home-left .home-title {
  width: 90%;
  margin-bottom: 20px;
}

.home-cont .home-left .home-title h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  /* or 40px */
  letter-spacing: 0.01em;
  color: #ffffff;
}

.home-cont .home-left .home-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.home-cont .home-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.home-cont .home-right .home-image-sm {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-cont .home-right .home-image-sm img {
  width: 100%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.home-cont .home-right .home-image-lg {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 80px;
}

.home-cont .home-right .home-image-lg img {
  width: 100%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 870px) {
  .home-left {
    margin-top: 40px !important;
  }
  .home-image-lg {
    margin-left: 10px !important;
    margin: 0 10px;
  }
  .home-right {
    margin-top: 70px !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media screen and (max-width: 672px) {
  .home-image-sm {
    width: 100px !important;
    height: 100px !important;
  }
  .home-image-lg {
    width: 130px !important;
    height: 130px !important;
  }
}

@media screen and (max-width: 419px) {
  .home-left {
    margin-top: 60px !important;
  }
  .home-title h1 {
    font-size: 30px !important;
  }
  .home-text p {
    font-size: 15px !important;
  }
}
/*# sourceMappingURL=Home.css.map */