.active-menu {
  opacity: 1 !important;
  height: 100px !important;
  display: block !important;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--main-black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .nav-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      .burger-icon {
        color: var(--main-red);
        height: 45px;
        width: 27px;
        display: flex;
        align-items: center;
        border-radius: 0px;
      }
      h1 {
        margin-left: 8px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.02em;

        color: #ffffff;
      }
    }
    .menu-icon-cont {
      display: flex;
      align-items: center;
      cursor: pointer;
      .menu-icon {
        width: 30px;
        height: 30px;
        color: var(--main-red);
      }
      .nav-menu {
        position: fixed;
        top: 7.6%;
        right: 0%;
        height: 300px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        background-color: var(--main-red);
        width: 200px;
        padding-left: 10px;
        opacity: 1;
        transition: all 0.3s;
        height: 0px;
        display: none;

        li {
          list-style: none;
          margin: 10px 0;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}
